body {
    background-image: linear-gradient(to right, red, blue);
    text-align: center;
    
}

h1 {
    font-style: italic;
    font-size: xx-large;
    font-weight: 700;
    color: blue;
}

ol {
    list-style-type: none;
}

ul {
    list-style-type: none;
}

p {
    font-style: oblique;
}